# Discord
DISCORD_END_POINT=<your_discord_endpoint>

# Grafana Cloud
GRAFANA_CLOUD_TOKEN=<your_grafana_cloud_token>
LOKI_END_POINT=<your_loki_endpoint>
PROMETHEUS_END_POINT=<your_prometheus_endpoint>
TEMPO_END_POINT=<your_tempo_endpoint>

# Slack
SLACK_END_POINT=<your_slack_endpoint>

# Telegram
TELEGRAM_END_POINT=<your_telegram_endpoint>
TELEGRAM_CHAT_ID=<your_telegram_chatid>