# Discord
DISCORD_END_POINT=<your_discord_endpoint>

# Grafana Cloud
GRAFANA_END_POINT_LOKI=<your_loki_endpoint>
GRAFANA_END_POINT_PROMETHEUS=<your_prometheus_endpoint>
GRAFANA_END_POINT_TEMPO=<your_tempo_endpoint>
GRAFANA_TOKEN=<your_grafana_cloud_token>

# Slack
SLACK_END_POINT=<your_slack_endpoint>

# Telegram
TELEGRAM_END_POINT=<your_telegram_endpoint>
TELEGRAM_CHAT_ID=<your_telegram_chatid>